@font-face {
  font-family: 'PTSerif';
  src: url('../fonts/PTSerif-Regular.ttf') format('truetype');
  font-weight: 400;
}

#playtime {
  font-size: 18px;
  color: #555;
  margin-top: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "PTSerif", sans-serif;
  font-weight: bold;
  line-height: 1.6;
  background-color: #1f2122;
  margin: 0;
  color: #d5d6d3;
  height: 100vh;
}

@keyframes fadeIn {
  to {
      opacity: 1;
  }
}

section {
  width: 75%;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

h1 {
  position: relative;
}

header {
  background-color: #1f2122; /* Header background color */
  width: 100%;
  margin: 0 auto;
  position: relative; /* Ensure header is positioned relative to the viewport */
}

.diablo-header {
  position: fixed; /* Keep the header fixed */
  background: #1f2122; /* Background color of the header */
  color: #d5d6d3; /* Text color */
  text-align: center; /* Center-align the text */
  z-index: 10000; /* High z-index for overlaying */
  width: 99vw;
  height: 0;
}

.nav-wrapper {
  background: #1f2122;
  width: 100%;
  height: auto;
  margin: 0 auto; /* Center the wrapper */
  padding: 15px 0;
}

.navigation {
  display: inline-block; /* Allows for centering */
  font-size: 20px;
}

ul {
  list-style: none; /* Remove default list styles */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

li {
  display: inline; /* Display list items inline */
  margin: 0 15px; /* Space between items */
}

.links {
  color: #d5d6d3; /* Set link color */
  text-decoration: none; /* Remove underline */
  padding: 10px; /* Padding for links */
}

.links:hover {
  color: #e81e0b;
}

.nav-bar {
  position: relative; /* Position relative to the header */
  border-radius: 8px; /* Rounded corners */
  width: 75vw; /* Set to 75% for better centering */
  height: 6px; /* Height of the nav-bar */
  top: -20px;
  background-color: #27292a; /* Background color of the nav-bar */
  margin: 20px auto 0; /* Center the nav-bar and add margin from the top */
}

.diablo-title {
  display: flex; /* Flexbox for title and arrow */
  flex-wrap: wrap;
  align-items: center; /* Center arrow vertically with title */
  justify-content: center;
  text-align: center;
  font-size: 2rem; /* Use relative font size */
  font-weight: bold; /* Bold font */
  color: #e81e0b; /* Title color */
  transition: font-size 0.3s ease;
}

.diablo-review {
  background-color: #1f2122;
}

.diablo-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%; /* Responsive width */
  max-width: 1300px; /* Limit max width */
  margin: 20px auto; /* Center containers */
  align-items: center; /* Center align items */
}

.diablo-card,
.diablo-card2 {
  position: relative;
  background-color: #27292a;
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 75vw; /* Full width for responsiveness */
  height: auto;
  padding: 20px; /* Add padding for inner spacing */
  margin-top: 100px;
  transition: transform 0.3s, box-shadow 0.3s;
  will-change: transform;
}

.diablo-card2 {
  margin-bottom: 40px; /* Specific margin for the second card */
}

.diablo-card:hover, .diablo-card2:hover  {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(232, 30, 11, 0.3);
}

.diablo-text {
  top: 0;
  left: 0;
  padding: 20px; 
  color: #d5d6d3;
  font-size: 32px;
  line-height: 1.6; 
  display: flex;
  justify-content: center;
  height: 100%;
  text-align: center;
  transition: font-size 0.3s ease, line-height 0.3s ease, margin-left 0.3s ease;
}

.diablo-spacer {
  font-size: 20px;
  margin: 0 auto;
  color: #d5d6d3;
  word-spacing: 2px;
  width: 97%;
}

.diablo-wrapper {
  overflow: visible;
  position: relative;
  height: auto;
}

img {
  user-select: none;
}

.review-container,
.openworld-container,
.experience-container {
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  margin: 20px;
  margin-top: 60px;
}

.review-img,
.openworld-img,
.openworld-img2,
.experience-img {
  flex: 2;
  max-width: 35%;
  border-radius: 8px;
  height: auto;
}

.review-text-container,
.experience-container {
  flex: 1;
  text-align: left;
}

.openworld-text-container {
  flex: 1;
  text-align: right;
}

.review-title,
.experience-title {
  color: #e81e0b;
  flex: 2;
  font-size: 26px;
  margin-left: 40px;
  background: url('/images/flask.jpg');
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: colorChange 40s linear infinite;
}

.openworld-title {
  color: #e81e0b;
  flex: 2;
  font-size: 26px;
  margin-right: 40px;
  background: url('/images/flask.jpg');
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: colorChange 40s linear infinite;
}

.review-text,
.openworld-text,
.experience-text {
  margin: 0 40px;
  margin-top: 20px;
}

footer {
  background: #1f2122;
  color: #d5d6d3;
  text-align: center;
  padding: 20px 0;
  margin-top: 2px;
  position: relative;
  transition: font-size 0.3s ease;
}

.footer-bar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
  width: 75%;
  height: 6px;
  background-color: #27292a;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center content vertically */
  width: 100%;
  max-width: 1200px;
  padding: 10px; /* Added padding for better spacing */
  transition: font-size 0.3s ease;
}

.footer-content p {
  margin: 0;
  text-align: center;
}

.socials {
  display: flex; /* Use flexbox for better alignment */
  justify-content: center;
  max-width: 300px; /* Slightly wider for social icons */
  margin-top: 10px; /* Consistent spacing above */
}

.socials a {
  color: #d5d6d3;
  margin: 0 15px; /* Increased margin for better spacing */
  font-size: 1.5rem;
  transition: color 0.3s;
}

.socials a:hover {
  color: #e81e0b;
}

.imp-rights {
  margin: 10px 0; /* Vertical spacing */
}

.footer-tabs {
  display: flex;
  justify-content: center; /* Center tabs horizontally */
  flex-wrap: wrap; /* Allow wrapping on small screens */
}

.impressum a,
.policy a {
  text-decoration: none;
  cursor: pointer;
  max-width: 150px; /* Consistent max width for all */
  margin: 5px 10px; /* Add horizontal and vertical spacing */
  transition: color 0.3s, transform 0.2s; /* Added transform effect */
  color: #d5d6d3;
}

.impressum a:hover,
.policy a:hover {
  color: #e81e0b;
}

.imp-mail {
  color: inherit;
  text-decoration: none;
}

.imp-mail:hover {
  color: #e81e0b;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #27292a;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 600px; /* Max width for larger screens */
  position: relative; /* For positioning the close button */
  border-radius: 5px; /* Optional: round corners */
  line-height: 2;
  text-align: left;
  transition: transform 0.3s ease;
}

.modal-content.hidden {
  display: none;
}

.modal-content:hover {
  transform: translateY(-5px); /* Lift effect on hover */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #e81e0b;
  text-decoration: none;
  cursor: pointer;
}

.modal-content.policy-content {
  max-width: 900px; /* Adjust max width for policy */
}

.modal-content.impressum-content {
  max-width: 450px; /* Adjust max width for impressum */
}

.cm-link {
  text-decoration: none;
  color: inherit; /* Inherit text color */
}

.cm-link:hover {
  text-decoration: underline; /* Underline on hover */
  color: #e81e0b; /* Change color on hover */
}

.banner-container {
  display: flex;
  flex-direction: column; /* Stack the text above the image */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  height: auto; /* Full viewport height, adjust as necessary */
  margin-top: 80px;
}

.banner-text {
  text-align: center; /* Center the text inside */
  margin-bottom: 20px; /* Add some space between text and image */
  margin-top: 40px;
  animation: upDown 4s ease-in-out infinite;
}

.diablo-banner {
  width: 50%; /* Example width, adjust as necessary */
  height: auto; /* Example height, adjust as necessary */
  opacity: 0;
  animation: fadeInText 2s ease-out forwards;
}

.banner-title {
  font-size: 48px;
  color: #d40000;
  opacity: 0;
  text-decoration: none;
  text-shadow: 0 0 20px rgba(255, 0, 0, 0.7), 0 0 40px rgba(255, 0, 0, 0.5); /* Glowing red shadow */
  animation: fadeInText 2s ease-out forwards, glowEffect 1.5s infinite alternate;
}

.title-sequence {
  color: #d40000; /* Dark red, blood-like color */
  font-size: 48px; /* Large title size */
  text-align: center;
  opacity: 0; /* Start fully transparent */
  text-decoration: none;
  text-shadow: 0 0 20px rgba(255, 0, 0, 0.7), 0 0 40px rgba(255, 0, 0, 0.5); /* Glowing red shadow */
  animation: fadeInText 2s ease-out forwards, glowEffect 1.5s infinite alternate;
}

.title-sequence:hover {
  text-decoration: underline;
}

.experience-container {
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  margin: 20px;
  margin-top: 60px;
}

.experience-img {
  flex: 2;
  max-width: 35%;
  border-radius: 8px;
  height: auto;
}

.experience-text-container {
  flex: 1;
  margin-left: 20px;
  text-align: left;
}

.experience-title {
  color: #e81e0b;
  flex: 2;
  font-size: 26px;
  margin-left: 40px;
  text-align: left;
  background: url('/images/flask.jpg');
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: colorChange 40s linear infinite;
}

.experience-text {
  margin: 0 40px;
  margin-top: 20px;
  text-align: left;
}

h2 {
  color: #e81e0b;
  font-size: 32px;
}

@media (max-width: 1200px) {
  .diablo-title {
      font-size: 1.8rem; /* Decrease title font size on smaller screens */
  }

  .diablo-card,
  .diablo-card2 {
      width: 90vw; /* Adjust width to be more fluid */
  }

  .review-img,
  .openworld-img,
  .openworld-img2,
  .experience-img {
      max-width: 100%; /* Full width for images on smaller devices */
      margin-bottom: 20px; /* Space below images */
  }

  .review-title,
  .openworld-title,
  .experience-title {
      font-size: 24px; /* Smaller titles for mobile */
      margin-left: 20px; /* Adjust left margin */
  }

  .footer-tabs {
      flex-direction: column; /* Stack tabs vertically */
      align-items: center; /* Center tabs on smaller screens */
  }

  .diablo-banner {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .openworld-container {
      flex-direction: column; /* Stack items vertically */
      align-items: center; /* Center items horizontally */
      justify-content: center;
      text-align: center; /* Center text content */
      margin: 20px 0; /* Adjust spacing */
  }

  .review-img,
  .openworld-img,
  .openworld-img2,
  .experience-img {
      width: 70%; /* Reduce image width to 70% */
      margin-bottom: 20px; /* Space below each image */
  }

  .review-text-container,
  .openworld-text-container,
  .experience-text-container {
      max-width: 90%; /* Set max width of text container */
      margin-left: 0; /* No left margin */
      text-align: center; /* Center-align the text */
      margin-bottom: 20px; /* Add space between text and next image */
  }

  .review-title,
  .openworld-title,
  .experience-title {
      font-size: 26px; /* Adjust the title size */
      margin-bottom: 10px; /* Space below title */
      margin-left: 0;
      margin-right: 0;
      text-align: center;
  }

  .experience-text {
    text-align: center;
  }

  .review-container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    margin-bottom: 40px;
  }

  .experience-container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    margin-bottom: 40px;
  }

  .openworld-container,
  .openworld-img {
    margin-bottom: 0;
  }

  .openworld-img2 {
    margin-bottom: 60px;
  }

  .nav-wrapper {
      width: 1024px;
  }

  .diablo-text {
      text-align: center; /* Center all text elements */
      margin-bottom: 0;
  }

  h1, h2 {
      text-align: center; /* Center headings */
  }

  h1 {
      font-size: 28px; /* Adjust h1 size for smaller screens */
      margin-bottom: 20px; /* Add space below */
  }

  h2 {
      font-size: 24px; /* Adjust h2 size for smaller screens */
      margin-bottom: 20px; /* Add space below */
  }

  .diablo-banner {
    width: 70%;
  }

}

@media (max-width: 800px) {
  .diablo-title {
      font-size: 1.6rem; /* Further reduce title font size */
  }

  h1 {
      font-size: 1.8rem; /* Decrease header font size */
  }

  .nav-wrapper {
    width: 100%;
      padding: 10px 0; /* Reduced padding */
  }

  .diablo-text {
      font-size: 28px; /* Smaller text on mobile */
  }

  .diablo-banner {
    width: 80%;
  }

  .review-title,
  .openworld-title {
      font-size: 24px; /* Further reduce title font size */
      margin-left: 10px; /* Adjust margin for titles */
      text-align: center;
      margin-right: 0;
      margin-left: 0;
  }

  .review-container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    margin-bottom: 20px;
  }

  .review-text,
  .openworld-text,
  .experience-text {
    width: 100%;
    margin: 0;
  }

  .review-img {
    margin-bottom: 40px;
  }

  .footer-content {
      padding: 5px; /* Reduced padding for footer */
  }

  .socials a {
      font-size: 1.2rem; /* Smaller social icons */
  }
}

@media (max-width: 600px) {
  .diablo-title {
      font-size: 1.4rem; /* Smallest title font size */
  }

  .diablo-card,
  .diablo-card2 {
      width: 95vw; /* Adjust for small screens */
  }

  h1 {
      font-size: 1.5rem; /* Smallest header font size */
  }

  .review-title,
  .openworld-title {
      font-size: 24px; /* Smallest titles */
  }

  .review-text,
  .openworld-text,
  .experience-text {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .openworld-img {
    margin-bottom: 0;
  }

  .review-img,
  .openworld-img,
  .experience-img {
    width: 80%;
  }
}

@media (max-width: 425px) {
  .diablo-title {
      font-size: 1.4rem; /* Smallest title font size */
  }

  .diablo-card,
  .diablo-card2 {
      width: 95vw; /* Adjust for small screens */
  }

  .diablo-spacer {
    margin-bottom: 40px;
  }

  h1 {
      font-size: 1.5rem; /* Smallest header font size */
  }

  .review-title,
  .openworld-title {
      font-size: 24px; /* Smallest titles */
  }

  .review-text,
  .openworld-text,
  .experience-text {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .review-container,
  .experience-container {
    margin: 0;
  }

  .diablo-card2 {
    padding-bottom: 40px;
  }

  .openworld-container {
    margin-bottom: 40px;
  }

  .review-img,
  .openworld-img,
  .openworld-img2,
  .experience-img {
    width: 90%;
  }

  .openworld-img2 {
    margin-bottom: 0;
  }

  .review-img {
    margin-bottom: 20px;
  }
  
  .diablo-banner {
    width: 100%;
  }
}

@media (max-width: 325px) {
  .diablo-title {
      font-size: 1.4rem; /* Smallest title font size */
  }

  .diablo-card,
  .diablo-card2 {
      width: 95vw; /* Adjust for small screens */
  }

  .diablo-spacer {
    margin-bottom: 40px;
  }

  h1 {
      font-size: 1.5rem; /* Smallest header font size */
  }

  .review-title,
  .openworld-title {
      font-size: 24px; /* Smallest titles */
  }

  .review-text,
  .openworld-text,
  .experience-text {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .review-container,
  .experience-container {
    margin: 0;
  }

  .diablo-card2 {
    padding-bottom: 40px;
  }

  .openworld-container {
    margin-bottom: 40px;
  }

  .review-img,
  .openworld-img,
  .openworld-img2,
  .experience-img {
    width: 90%;
  }

  .openworld-img2 {
    margin-bottom: 0;
  }

  .review-img {
    margin-bottom: 20px;
  }
}

@keyframes fadeInText {
  0% {
      opacity: 0;
      transform: translateY(20px); /* Slight downward movement */
  }
  50% {
      opacity: 0.5;
      transform: translateY(0);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Glow effect to add intensity */
@keyframes glowEffect {
  0% {
      text-shadow: 0 0 10px rgba(255, 0, 0, 0.4), 0 0 20px rgba(255, 0, 0, 0.3);
  }
  100% {
      text-shadow: 0 0 20px rgba(255, 0, 0, 0.7), 0 0 40px rgba(255, 0, 0, 0.5);
  }
}

/* Optional: slow pulse effect to make the title more dynamic */
@keyframes pulseEffect {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(1.02); /* Slightly increase size for pulse */
  }
}

@keyframes fadeInContainer {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes upDown {
  0% {
      transform: translateY(0); /* Start at initial position */
  }
  50% {
      transform: translateY(-20px); /* Move 20px up at the halfway point */
  }
  100% {
      transform: translateY(0); /* Return to the original position */
  }
}

@keyframes colorChange {
  0% { background-position: 0%; }
  100% { background-position: 100%; }
}

@keyframes fadeInSubtitle {
  0% {
      opacity: 0;
      transform: translateY(10px); /* Subtitle moves up as it fades in */
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

