/* Define font */
@font-face {
  font-family: 'PTSerif';
  src: url('../fonts/PTSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap; /* Prevent invisible text during font loading */
}

/* Reset values */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

/* Set scrolling behavior */
html {
  scroll-behavior: smooth;
}

/* Set standard values */
body {
  font-family: "PTSerif", sans-serif;
  font-weight: bold;
  line-height: 1.6;
  background-color: #1f2122;
  margin: 0;
  color: #d5d6d3;
  min-height: 100vh;
}

/* Keyframe animation for fade-in effect */
@keyframes fadeIn {
  to {
      opacity: 1;
  }
}

/* General section styling */
section {
  width: 75%;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

/* Set position for main header */
h1 {
  position: relative;
}

/* Header (h2) styling */
h2 {
  color: #e81e0b;
  font-size: 32px;
}

/* Header styles */
header {
  background-color: #1f2122;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

/* Style for Diablo fixed header */
.diablo-header {
  position: fixed;
  background: #1f2122;
  color: #d5d6d3;
  text-align: center;
  z-index: 10000;
  width: 99vw;
  height: 0;
}

/* Navigation wrapper settings */
.nav-wrapper {
  background: #1f2122;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 15px 0;
}

/* Navigation settings */
.navigation {
  display: inline-block;
  font-size: 20px;
}

/* Styling for unordered lists */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* List items for navigation */
li {
  display: inline;
  margin: 0 15px;
}

/* Link styling in navigation */
.links {
  color: #d5d6d3;
  text-decoration: none;
  padding: 10px;
}

/* Hover effect for navigation links */
.links:hover {
  color: #e81e0b;
}

/* Styling the navigation bar */
.nav-bar {
  position: relative;
  border-radius: 8px;
  width: 75vw;
  height: 6px;
  top: -20px;
  background-color: #27292a;
  margin: 20px auto 0;
}

/* Diablo title styling */
.diablo-title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #e81e0b;
  transition: font-size 0.3s ease;
}

/* Diablo review section styling */
.diablo-review {
  background-color: #1f2122;
}

/* Diablo container styling */
.diablo-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1300px;
  margin: 20px auto;
  align-items: center;
}

/* Styling for Diablo cards */
.diablo-card,
.diablo-card2 {
  position: relative;
  background-color: #27292a;
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 75vw;
  height: auto;
  padding: 20px;
  margin-top: 100px;
  will-change: transform;
}

/* Specific margin for second Diablo card */
.diablo-card2 {
  margin-bottom: 40px;
}

/* Hover effects for Diablo cards */
.diablo-card:hover, .diablo-card2:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(232, 30, 11, 0.3);
}

/* Diablo text section */
.diablo-text {
  top: 0;
  left: 0;
  padding: 20px; 
  color: #d5d6d3;
  font-size: 32px;
  line-height: 1.6; 
  display: flex;
  justify-content: center;
  height: 100%;
  text-align: center;
  transition: font-size 0.3s ease, line-height 0.3s ease, margin-left 0.3s ease;
}

/* Spacer styling for Diablo */
.diablo-spacer {
  font-size: 20px;
  margin: 0 auto;
  color: #d5d6d3;
  word-spacing: 2px;
  width: 97%;
}

/* Diablo wrapper settings */
.diablo-wrapper {
  overflow: visible;
  position: relative;
  height: auto;
}

/* Disable image selection */
img {
  user-select: none;
}

/* Review, open world, and experience section containers */
.review-container,
.openworld-container,
.experience-container {
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  margin: 20px;
  margin-top: 60px;
}

/* Image styling for review and open world sections */
.review-img,
.openworld-img,
.openworld-img2,
.experience-img {
  flex: 2;
  max-width: 35%;
  border-radius: 8px;
  height: auto;
}

/* Text container styling for review and experience sections */
.review-text-container,
.experience-container {
  flex: 1;
  text-align: left;
}

/* Open world text alignment */
.openworld-text-container {
  flex: 1;
  text-align: right;
}

/* Review and experience title styling */
.review-title,
.experience-title {
  color: #e81e0b;
  flex: 2;
  font-size: 26px;
  margin-left: 40px;
  background: url('/images/flask.jpg');
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: colorChange 40s linear infinite;
}

/* Open world title styling */
.openworld-title {
  color: #e81e0b;
  flex: 2;
  font-size: 26px;
  margin-right: 40px;
  background: url('/images/flask.jpg');
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: colorChange 40s linear infinite;
}

/* Text styling for review, open world, and experience sections */
.review-text,
.openworld-text,
.experience-text {
  margin: 0 40px;
  margin-top: 20px;
}

/* Footer styling */
footer {
  background: #1f2122;
  color: #d5d6d3;
  text-align: center;
  padding: 20px 0;
  margin-top: 2px;
  position: relative;
  transition: font-size 0.3s ease;
}

/* Footer bar styling */
.footer-bar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
  width: 75%;
  height: 6px;
  background-color: #27292a;
}

/* Footer container settings */
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

/* Footer content styling */
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  padding: 10px;
  transition: font-size 0.3s ease;
}

/* Footer paragraph styling */
.footer-content p {
  margin: 0;
  text-align: center;
}

/* Social media icon styling */
.socials {
  display: flex;
  justify-content: center;
  max-width: 300px;
  margin-top: 10px;
}

/* Individual social media link styling */
.socials a {
  color: #d5d6d3;
  margin: 0 15px;
  font-size: 1.5rem;
  transition: color 0.3s;
}

/* Hover effect for social links */
.socials a:hover {
  color: #e81e0b;
}

/* Styling for footer rights section */
.imp-rights {
  margin: 10px 0;
}

/* Footer tabs styling */
.footer-tabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Impressum and policy links styling */
.impressum a,
.policy a {
  text-decoration: none;
  cursor: pointer;
  max-width: 150px;
  margin: 5px 10px;
  transition: color 0.3s, transform 0.2s;
  color: #d5d6d3;
}

/* Hover effect for impressum and policy links */
.impressum a:hover,
.policy a:hover {
  color: #e81e0b;
}

/* Email styling */
.imp-mail {
  color: inherit;
  text-decoration: none;
}

/* Hover effect for email link */
.imp-mail:hover {
  color: #e81e0b;
}

/* Modal container styling */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

/* Modal content styling */
.modal-content {
  background-color: #27292a;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  position: relative;
  border-radius: 5px;
  line-height: 2;
  text-align: left;
  transition: transform 0.3s ease;
}

.modal-content.hidden {
  display: none;
}

.modal-content:hover {
  transform: translateY(-5px);
}

/* Close button styling */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #e81e0b;
  text-decoration: none;
  cursor: pointer;
}

/* Modal content variations */
.modal-content.policy-content {
  max-width: 900px;
}

.modal-content.impressum-content {
  max-width: 450px;
}

/* Custom link styling */
.cm-link {
  text-decoration: none;
  color: inherit;
}

.cm-link:hover {
  text-decoration: underline;
  color: #e81e0b;
}

/* Banner container styling */
.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-top: 80px;
}

/* Banner text styling */
.banner-text {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
  animation: upDown 4s ease-in-out infinite;
}

/* Banner image styling */
.diablo-banner {
  width: 50%;
  height: auto;
  opacity: 0;
  cursor: pointer;
  animation: fadeInText 2s ease-out forwards;
}

/* Banner title styling */
.banner-title {
  font-size: 48px;
  color: #d40000;
  opacity: 0;
  text-decoration: none;
  text-shadow: 0 0 20px rgba(255, 0, 0, 0.7), 0 0 40px rgba(255, 0, 0, 0.5);
  animation: fadeInText 2s ease-out forwards, glowEffect 1.5s infinite alternate;
}

/* Title sequence styling */
.title-sequence {
  color: #d40000;
  font-size: 48px;
  text-align: center;
  opacity: 0;
  text-decoration: none;
  text-shadow: 0 0 20px rgba(255, 0, 0, 0.7), 0 0 40px rgba(255, 0, 0, 0.5);
  animation: fadeInText 2s ease-out forwards, glowEffect 1.5s infinite alternate;
}

/* Underline title */
.title-sequence:hover {
  text-decoration: underline;
}

/* Experience section container styling */
.experience-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px;
  margin-top: 60px;
}

/* Experience section image styling */
.experience-img {
  flex: 2;
  max-width: 35%;
  border-radius: 8px;
  height: auto;
}

/* Experience section text container styling */
.experience-text-container {
  flex: 1;
  margin-left: 20px;
  text-align: left;
}

/* Experience title styling */
.experience-title {
  color: #e81e0b;
  flex: 2;
  font-size: 26px;
  margin-left: 40px;
  text-align: left;
  background: url('/images/flask.jpg');
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: colorChange 40s linear infinite;
}

/* Experience section text styling */
.experience-text {
  margin: 0 40px;
  margin-top: 20px;
  text-align: left;
}

/* -----------------------------Responsive Design----------------------------- */

/* Media queries for max-width: 1200px */
@media (max-width: 1200px) {
  .diablo-title {
      font-size: 1.8rem;
  }

  .diablo-card,
  .diablo-card2 {
      width: 90vw;
  }

  .review-img,
  .openworld-img,
  .openworld-img2,
  .experience-img {
      max-width: 100%;
      margin-bottom: 20px;
  }

  .review-title,
  .openworld-title,
  .experience-title {
      font-size: 24px;
      margin-left: 20px;
  }

  .footer-tabs {
      flex-direction: column;
      align-items: center;
  }

  .diablo-banner {
    width: 80%;
  }
}

/* Media queries for max-width: 1024px */
@media (max-width: 1024px) {
  .openworld-container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: 20px 0;
  }

  .review-img,
  .openworld-img,
  .openworld-img2,
  .experience-img {
      width: 70%;
      margin-bottom: 20px;
  }

  .review-text-container,
  .openworld-text-container,
  .experience-text-container {
      max-width: 90%;
      margin-left: 0;
      text-align: center;
      margin-bottom: 20px;
  }

  .review-title,
  .openworld-title,
  .experience-title {
      font-size: 26px;
      margin-bottom: 10px;
      margin-left: 0;
      margin-right: 0;
      text-align: center;
  }

  .experience-text {
    text-align: center;
  }

  .review-container,
  .experience-container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    margin-bottom: 40px;
  }

  .openworld-container,
  .openworld-img {
    margin-bottom: 0;
  }

  .openworld-img2 {
    margin-bottom: 60px;
  }

  .nav-wrapper {
      width: 1024px;
  }

  .diablo-text,
  h1, h2 {
      text-align: center;
  }

  h1 {
      font-size: 28px;
      margin-bottom: 20px;
  }

  h2 {
      font-size: 24px;
      margin-bottom: 20px;
  }

  .diablo-banner {
    width: 70%;
  }
}

/* Media queries for max-width: 800px */
@media (max-width: 800px) {
  .diablo-title {
      font-size: 1.6rem;
  }

  h1 {
      font-size: 1.8rem;
  }

  .nav-wrapper {
    width: 100%;
    padding: 10px 0;
  }

  .diablo-text {
      font-size: 28px;
  }

  .diablo-banner {
    width: 80%;
  }

  .review-title,
  .openworld-title {
      font-size: 24px;
      margin-left: 10px;
      text-align: center;
      margin-right: 0;
      margin-left: 0;
  }

  .review-container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    margin-bottom: 20px;
  }

  .review-text,
  .openworld-text,
  .experience-text {
    width: 100%;
    margin: 0;
  }

  .review-img {
    margin-bottom: 40px;
  }

  .footer-content {
      padding: 5px;
  }

  .socials a {
      font-size: 1.2rem;
  }
}

/* Media queries for max-width: 600px */
@media (max-width: 600px) {
  .diablo-title {
      font-size: 1.4rem;
  }

  .diablo-card,
  .diablo-card2 {
      width: 95vw;
  }

  h1 {
      font-size: 1.5rem;
  }

  .review-title,
  .openworld-title {
      font-size: 24px;
  }

  .review-text,
  .openworld-text,
  .experience-text {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .openworld-img {
    margin-bottom: 0;
  }

  .review-img,
  .openworld-img,
  .experience-img {
    width: 80%;
  }
}

/* Media queries for max-width: 425px */
@media (max-width: 425px) {
  .diablo-title {
      font-size: 1.4rem;
  }

  .diablo-card,
  .diablo-card2 {
      width: 95vw;
  }

  .diablo-spacer {
    margin-bottom: 40px;
  }

  h1 {
      font-size: 1.5rem;
  }

  .review-title,
  .openworld-title {
      font-size: 24px;
  }

  .review-text,
  .openworld-text,
  .experience-text {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .review-container,
  .experience-container {
    margin: 0;
  }

  .diablo-card2 {
    padding-bottom: 40px;
  }

  .openworld-container {
    margin-bottom: 40px;
  }

  .review-img,
  .openworld-img,
  .openworld-img2,
  .experience-img {
    width: 90%;
  }

  .openworld-img2 {
    margin-bottom: 0;
  }

  .review-img {
    margin-bottom: 20px;
  }

  .diablo-banner {
    width: 100%;
  }
}

/* Media queries for max-width: 325px */
@media (max-width: 325px) {
  .diablo-title {
      font-size: 1.4rem;
  }

  .diablo-card,
  .diablo-card2 {
      width: 95vw;
  }

  .diablo-spacer {
    margin-bottom: 40px;
  }

  h1 {
      font-size: 1.5rem;
  }

  .review-title,
  .openworld-title {
      font-size: 24px;
  }

  .review-text,
  .openworld-text,
  .experience-text {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .review-container,
  .experience-container {
    margin: 0;
  }

  .diablo-card2 {
    padding-bottom: 40px;
  }

  .openworld-container {
    margin-bottom: 40px;
  }

  .review-img,
  .openworld-img,
  .openworld-img2,
  .experience-img {
    width: 90%;
  }

  .openworld-img2 {
    margin-bottom: 0;
  }

  .review-img {
    margin-bottom: 20px;
  }
}

/* Keyframes for fading in text */
@keyframes fadeInText {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  50% {
      opacity: 0.5;
      transform: translateY(0);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Keyframes for glow effect */
@keyframes glowEffect {
  0% {
      text-shadow: 0 0 10px rgba(255, 0, 0, 0.4), 0 0 20px rgba(255, 0, 0, 0.3);
  }
  100% {
      text-shadow: 0 0 20px rgba(255, 0, 0, 0.7), 0 0 40px rgba(255, 0, 0, 0.5);
  }
}

/* Keyframes for pulse effect */
@keyframes pulseEffect {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(1.02);
  }
}

/* Keyframes for fading in container */
@keyframes fadeInContainer {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

/* Keyframes for up-down motion */
@keyframes upDown {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }
  100% {
      transform: translateY(0);
  }
}

/* Keyframes for color change */
@keyframes colorChange {
  0% {
      background-position: 0%;
  }
  100% {
      background-position: 100%;
  }
}

/* Keyframes for fading in subtitle */
@keyframes fadeInSubtitle {
  0% {
      opacity: 0;
      transform: translateY(10px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
