/* Footer container */
footer {
    background: #1f2122;
    color: #ededed;
    text-align: center;
    padding: 20px 0;
    margin-top: 2px;
    position: relative;
    transition: font-size 0.3s ease;
}

/* Footer top bar */
.footer-bar {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 8px;
    width: 68.4%;
    height: 6px;
    background-color: #27292a;
}

/* Footer content container */
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
}

/* Main content of the footer */
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    padding: 10px;
    transition: font-size 0.3s ease;
}

/* Paragraph text inside the footer */
.footer-content p {
    margin: 0;
    text-align: center;
}

/* Social media links container */
.socials {
    display: flex;
    justify-content: center;
    max-width: 300px;
    margin-top: 10px;
}

/* Social media link styles */
.socials a {
    color: #ededed;
    margin: 0 15px;
    font-size: 1.5rem;
    transition: color 0.3s;
}

/* Hover effect for social media links */
.socials a:hover {
    color: #e56699;
}

/* Rights text styling */
.imp-rights {
    margin: 10px 0;
}

/* Footer tabs section */
.footer-tabs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Links for impressum and policy */
.impressum a,
.policy a {
    text-decoration: none;
    cursor: pointer;
    max-width: 150px;
    margin: 5px 10px;
    transition: color 0.3s, transform 0.2s;
    color: #ededed;
}

/* Hover effects for impressum and policy links */
.impressum a:hover,
.policy a:hover {
    color: #e56699;
}

/* Email link inside impressum */
.imp-mail {
    color: inherit;
    text-decoration: none;
}

/* Hover effect for email link */
.imp-mail:hover {
    text-decoration: underline;
    color: #e56699;
}

/* Modal (pop-up) styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Modal content container */
.modal-content {
    background-color: #27292a;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    position: relative;
    border-radius: 5px;
    line-height: 2;
    text-align: left;
    transition: transform 0.3s ease;
}

/* Hidden modal content */
.modal-content.hidden {
    display: none;
}

/* Hover effect for modal content */
.modal-content:hover {
    transform: translateY(-5px);
}

/* Close button in modal */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* Hover effects for close button */
.close:hover,
.close:focus {
    color: #e56699;
    text-decoration: none;
    cursor: pointer;
}

/* Specific modal content for policy */
.modal-content.policy-content {
    max-width: 900px;
}

/* Specific modal content for impressum */
.modal-content.impressum-content {
    max-width: 450px;
}

/* Custom link styling */
.cm-link {
    text-decoration: none;
    color: inherit;
}

/* Hover effect for custom links */
.cm-link:hover {
    text-decoration: underline;
    color: #e56699;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    .impressum,
    .policy {
        max-width: 100%;
        font-size: 14px;
    }

    .socials {
        flex-direction: row;
    }

    .modal {
        padding-top: 25%;
    }
}
