.gallery,
.gallery2,
.gallery3,
.gallery-programming,
.gallery-music {
    position: relative;
    z-index: 10;
    width: 100%; /* Use 100% for responsiveness */
    max-width: 1550px; /* Limit maximum width */
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap */
    align-items: center; /* Center items vertically */
    padding: 0;
    margin: 40px auto; /* Center the galleries with margin */
    user-select: none;
    transition: transform 0.5s ease;
    justify-content: center;
}

.gallery a,
.gallery2 a,
.gallery3 a,
.gallery-programming a,
.gallery-music a {
    flex-shrink: 0;
    width: calc(33.33% - 60px); /* Adjust width for spacing between items */
    margin: 30px; /* Margin around each item */
    margin-bottom: -30px;
    text-align: center;
    display: inline-block;
    position: relative;
}

.gallery2 {
    margin-top: 0;
}

.gallery img,
.gallery2 img,
.gallery3 img,
.gallery-programming img,
.gallery-music img {
    width: 100%; /* Changed to 100% for proper scaling */
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s, z-index 0.3s;
    object-fit: cover;
    z-index: 1;
}

.gallery img:hover,
.gallery2 img:hover,
.gallery3 img:hover,
.gallery-programming img:hover,
.gallery-music img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    z-index: 1120;
}

.gallery-wrapper {
    overflow: visible;
    position: relative;
    height: auto; /* Allow height to adjust */
}

/* Responsive Design for Mobile */
@media (max-width: 768px) {
    .gallery a,
    .gallery2 a,
    .gallery3 a,
    .gallery-programming a,
    .gallery-music a {
        width: calc(50% - 40px); /* Two items per row on smaller screens */
    }

    .gallery,
    .gallery-programming,
    .gallery-music {
        margin-top: 0;
    }
}

@media (max-width: 480px) {
    .gallery a,
    .gallery2 a,
    .gallery3 a,
    .gallery-programming a,
    .gallery-music a {
        width: calc(100% - 30px); /* One item per row on extra small screens */
    }
}
