/* Section styling */
section {
    position: relative;
    z-index: 9;
    padding: 10px 20px;
    animation: fadeIn 1s ease forwards;
    overflow: visible;
    margin: 0 auto;
    max-width: 1700px;
    transition: padding 0.3s ease, font-size 0.3s ease;
}

/* Common styles for specific sections */
#about, #about2, #gaming, #programming, #music, #contact {
    position: relative;
    text-align: center;
    background: #1f2122;
    z-index: 998;
    color: #ededed;
    padding: 60px 0;
}

/* Specific section background colors */
.gaming-section,
.programming-section,
.music-section {
    background-color: #1f2122;
}

/* -----------------------------Responsive Design----------------------------- */

/* Responsive adjustments for larger screens */
@media (max-width: 1920px) {
    #gaming,
    #programming,
    #music {
        padding: 20px 10px;
    }

    #about, #about2 {
        padding: 20px 10px;
    }
}

/* Responsive Design for Mobile */
@media (max-width: 768px) {
    section {
        padding: 20px 10px;
    }

    .spacer {
        font-size: 14px;
    }

    h4 {
        font-size: 26px;
    }

    h2 {
        font-size: 26px;
    }

    .imp-rights {
        font-size: 14px;
    }

    .impressum {
        font-size: 14px;
    }

    .policy {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .spacer {
        font-size: 12px;
    }

    h4 {
        font-size: 22px;
    }

    h2 {
        font-size: 22px;
    }

    .imp-rights {
        font-size: 12px;
    }

    .impressum {
        font-size: 12px;
    }

    .policy {
        font-size: 12px;
    }
}
